:root {
    /********** Colors ***********/

    /* Primary */

    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutral */

    --dark-grayish-red: hsl(0, 6%, 24%);

    /* Gradients */

    --linear1: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --linear2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
}

    /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* General styles */
html {
    font-size: 16px;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* 300 - 400 - 600 */
}

.hero {
    width: 100%;
}

.hero__logo {
    margin: 1.875rem;
}

/* hidden logo */
.hero__logo--desktop {
    display: none;
}

.hero__image {
    max-width: 100%;
    margin-bottom: 2rem;
}

/* content style */
.hero__content {
    text-align: center;
    padding: 2rem;
    color: var(--desaturated-red);
}

.hero__title {
    width: min-content;
    margin: auto;
    margin-bottom: 1.875rem;
    text-transform:uppercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 10px;
}

.hero__title span {
    color: var(--dark-grayish-red);
    font-weight: 600;
}

.hero__paragraph {
    margin-bottom: 2.25rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

/* form style */
.hero__form {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
}

.hero__cta {
    width: 100%;
    height: auto;
    border: 2px solid hsla(0, 6%, 24%,0.2);
    border-radius: 30px;
    padding: 15px 30px;
    color: var(--dark-grayish-red);
    font-family: inherit;
    font-size: 0.9rem;
}

.hero__cta::placeholder {
    color: var(--desaturated-red);
}

.hero__error {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero__error.active {
    right: 120px;
}

.hero__icon-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 63px;
    height: 47px;
    background: linear-gradient(var(--linear2)) ;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__icon-container:hover {
    filter: brightness(1.2);
    box-shadow: -3px 10px 15px hsla(0, 36%, 70%, 0.8);
    cursor: pointer;
}

.hero__message {
    padding-left: 35px;
}

@media screen and (min-width: 37.5rem) {
    .hero {
        height: 800px;
        display: flex;
        flex-direction: row-reverse;
    }

    .hero__logo {
        display: none;
    }

    .hero__logo--desktop {
        display: block;
        margin: 0;
    }

    .hero__content {
        padding: 5.5rem 10.25rem;
        text-align: left;
        flex-grow: 1;
    }

    .hero__title {
        margin: 8rem 0 2.5rem 0;
        font-size: 3.3rem;
        line-height: 1.2;
        letter-spacing: 20px;
    }

    .hero__paragraph {
        max-width: 50ch;
        margin-bottom: 3rem;
        letter-spacing: 1px;
    }

    .hero__cta {
        font-size: 1.1rem;
        padding: 15px 30px;
        max-width: 444px;
    }

    .hero__icon-container {
        width: 100px;
        height: 55px;
        border-radius: 30px;
    }
}